@page
@model IndexModel
@{
    ViewData["Title"] = "QRCode Scan";
}

<div class="text-center">
    <h1 class="display-4">Scan QR Code</h1>
    <div class="qrcode">

    </div>


    <button onclick="window.location.href='/ScanCode/Scan/1234567890'">SCAN</button>
</div>

