<html lang="en">

<head>
    <title>Send us your feedback!</title>

    <link rel="stylesheet" media="screen" href="/static/feedback.css" />
</head>

<body>
<div>
    <div id="surveyBody">
        <form class="feedback-form" action="/feedback" method="post">
            <div class="mopinion-survey-content notranslate " tabindex="-1">
                <div class="mopinion-survey-output survey-material-white  is-modal  on-page-1 "
                     style="position: relative;">
                    <div id="surveyHead">
                        <div id="surveyTitle" tabindex="0" title="Send us your feedback!" class="srv-title main-title">
                            <h1>Send us your feedback!</h1>
                        </div>
                    </div>

                    <div id="page1" style="display: block;">

                        {{range $element := .}}


                        <div class="control-group question rating -group rating-group-1  " data-index="0" id="rating-{{.Slug}}"
                             style="display: block;">
                            <legend class="block-title" id="block-title-rating-{{.Slug}}">
                                <label tabindex="0">{{.Name}}</label>
                            </legend>

                            <div class="rating-group rating-group emoji emoji-group rating   ">
                                <div class="choice-row">
                                    <div class="rating-choice">
                                        <input type="radio" name="rating-group-{{.Slug}}" value="angry" id="rating-{{.Slug}}_0"
                                               aria-label="Hate">
                                        <label for="rating-{{.Slug}}_0" class="emoji-angry">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                                                  <g>
                                                    <g>
                                                      <linearGradient gradientUnits="userSpaceOnUse" x1="40" x2="40" y2="80">
                                                        <stop offset="0" stop-color="#FC9C76"></stop>
                                                        <stop offset=".1389" stop-color="#FDAC7A"></stop>
                                                        <stop offset=".49" stop-color="#FFEB89"></stop>
                                                        <stop offset="1" stop-color="#FFEB89"></stop>
                                                      </linearGradient>
                                                      <circle class="head" cx="40" cy="40" r="40"></circle>
                                                    </g>
                                                    <path class="head-outline" d="M40,1.6c21,0,38,17,38,38s-17,38-38,38s-38-17-38-38S19,1.6,40,1.6 M40-0.4
                                                    c-22.1,0-40,17.9-40,40s17.9,40,40,40s40-17.9,40-40S62.1-0.4,40-0.4L40-0.4z"></path>
                                                    <g>
                                                      <circle class="eyes" cx="62.1" cy="41.4" r="3.9"></circle>
                                                      <circle class="eyes" cx="17.9" cy="41.4" r="3.9"></circle>
                                                    </g>
                                                    <g>
                                                      <path class="eyebrows"
                                                            d="M55.4 38.5c-.1 0-.2 0-.4-.1-.6-.2-1-.9-.8-1.5 1.2-3.7 4.2-5.5 6.6-5.9 2.2-.4 4.3.2 5.4 1.6.4.5.3 1.3-.2 1.7-.5.4-1.3.3-1.7-.2-.6-.7-1.8-1-3.2-.8-1.7.3-3.9 1.6-4.7 4.3 0 .5-.5.9-1 .9z"></path>
                                                      <path class="eyebrows"
                                                            d="M24.7 38.5c-.5 0-1-.3-1.1-.8-.9-2.7-3-4-4.7-4.3-1.3-.3-2.6 0-3.2.8-.4.5-1.2.6-1.7.2-.5-.4-.6-1.2-.2-1.7 1.2-1.4 3.2-2 5.4-1.6 2.4.5 5.4 2.3 6.6 5.9.2.6-.1 1.3-.8 1.5-.1-.1-.2 0-.3 0z"></path>
                                                    </g>
                                                    <path class="mouth"
                                                          d="M33.5 57.5c-.1 0-.3 0-.4-.1-.6-.2-.9-.9-.7-1.5.9-2.7 3.7-4.4 7-4.4 3.4 0 6.2 1.7 7.2 4.4.2.6-.1 1.3-.7 1.5-.6.2-1.3-.1-1.5-.7-.8-2.1-3.2-2.8-4.9-2.8-1.8 0-4.1.7-4.8 2.8-.2.5-.7.8-1.2.8z"></path>
                                                  </g>
                                                </svg>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="rating-choice">
                                        <input type="radio" name="rating-group-{{.Slug}}" value="sad" id="rating-{{.Slug}}_1"
                                               aria-label="Dislike">
                                        <label for="rating-{{.Slug}}_1" class="emoji-sad">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                                                  <g>
                                                    <g>
                                                      <circle class="head" cx="40" cy="40" r="40"></circle>
                                                    </g>
                                                    <path class="head-outline" d="M40,1.6c21,0,38,17,38,38s-17,38-38,38s-38-17-38-38S19,1.6,40,1.6 M40-0.4
                                                    c-22.1,0-40,17.9-40,40s17.9,40,40,40s40-17.9,40-40S62.1-0.4,40-0.4L40-0.4z"></path>
                                                    <g>
                                                      <path class="eyebrows"
                                                            d="M19.7 32.9c-2.1 0-3.9-1-4.9-2.7-.3-.6-.1-1.3.4-1.6.6-.3 1.3-.1 1.6.4.9 1.5 2.6 1.7 3.8 1.4 1.2-.3 2.7-1.2 2.9-2.9.1-.7.6-1.1 1.3-1.1.7.1 1.1.7 1.1 1.3-.2 2.5-2.1 4.5-4.8 5-.4.1-.9.2-1.4.2z"></path>
                                                      <path class="eyebrows"
                                                            d="M60.4 32.9c-.5 0-1-.1-1.5-.2-2.7-.6-4.5-2.6-4.8-5-.1-.7.4-1.2 1.1-1.3.7-.1 1.2.4 1.3 1.1.2 1.7 1.7 2.7 2.9 2.9 1.2.3 2.9.1 3.8-1.4.3-.6 1.1-.8 1.6-.4.6.3.8 1.1.4 1.6-.9 1.7-2.7 2.7-4.8 2.7z"></path>
                                                    </g>
                                                    <path class="mouth"
                                                          d="M34 58c-.1 0-.3 0-.4-.1-.6-.2-.9-.9-.7-1.5.9-2.7 3.7-4.4 7.1-4.4 3.4 0 6.2 1.7 7.1 4.4.2.6-.1 1.3-.7 1.5-.6.2-1.3-.3-1.5-.9-.8-2.1-3.1-3-4.9-3-1.8 0-4.1 1-4.8 3-.2.5-.7 1-1.2 1z"></path>
                                                    <g>
                                                      <path class="eyes"
                                                            d="M62.2 44c-3.4 0-6.2-1.3-7.1-4-.2-.6.1-1.1.7-1.3.6-.2 1.3 0 1.5.6.8 2.1 3.1 2.7 4.9 2.7 1.8 0 4.1-.5 4.8-2.6.2-.6.9-.8 1.5-.6.6.2 1 .5.7 1.2-.8 2.6-3.6 4-7 4z"></path>
                                                      <path class="eyes"
                                                            d="M17.9 44c-3.4 0-6.2-1.3-7.1-4-.2-.6.1-1.1.7-1.3.6-.2 1.3 0 1.5.6.8 2.1 3.1 2.7 4.9 2.7 1.8 0 4.1-.5 4.8-2.6.2-.6.9-.8 1.5-.6.6.2.9.5.7 1.2-.8 2.6-3.6 4-7 4z"></path>
                                                    </g>
                                                  </g>
                                                </svg>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="rating-choice">
                                        <input type="radio" name="rating-group-{{.Slug}}" value="neutral" id="rating-{{.Slug}}_2"
                                               aria-label="Neutral">
                                        <label for="rating-{{.Slug}}_2" class="emoji-neutral">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                                                  <g>
                                                    <g>
                                                      <circle class="head" cx="40" cy="40" r="40"></circle>
                                                    </g>
                                                    <path class="head-outline" d="M40,1.6c21,0,38,17,38,38s-17,38-38,38s-38-17-38-38S19,1.6,40,1.6 M40-0.4
                                                    c-22.1,0-40,17.9-40,40s17.9,40,40,40s40-17.9,40-40S62.1-0.4,40-0.4L40-0.4z"></path>
                                                    <g>
                                                      <circle class="eyes" cx="62.1" cy="41.4" r="3.9"></circle>
                                                      <circle class="eyes" cx="17.9" cy="41.4" r="3.9"></circle>
                                                    </g>
                                                    <g>
                                                      <path class="eyebrows"
                                                            d="M23.2 37h-9.6c-.7 0-1.2-.8-1.2-1.5S13 34 13.7 34h9.6c.7 0 1.2.8 1.2 1.5s-.6 1.5-1.3 1.5z"></path>
                                                      <path class="eyebrows"
                                                            d="M66.3 37h-9.6c-.7 0-1.2-.8-1.2-1.5S56 34 56.7 34h9.6c.7 0 1.2.8 1.2 1.5S67 37 66.3 37z"></path>
                                                    </g>
                                                    <g>
                                                      <path class="mouth" d="M48.4 58H31.6c-.7 0-1.2-.3-1.2-1s.5-1 1.2-1h16.8c.7 0 1.2.3 1.2 1s-.6 1-1.2 1z"></path>
                                                    </g>
                                                  </g>
                                                </svg>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="rating-choice">
                                        <input type="radio" name="rating-group-{{.Slug}}" value="happy" id="rating-{{.Slug}}_3"
                                               aria-label="Like">
                                        <label for="rating-{{.Slug}}_3" class="emoji-happy">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                                                  <g>
                                                    <g>
                                                      <circle class="head" cx="40" cy="40" r="40"></circle>
                                                    </g>
                                                    <path class="head-outline" d="M40,1.6c21,0,38,17,38,38s-17,38-38,38s-38-17-38-38S19,1.6,40,1.6 M40-0.4
                                                    c-22.1,0-40,17.9-40,40s17.9,40,40,40s40-17.9,40-40S62.1-0.4,40-0.4L40-0.4z"></path>
                                                    <path class="mouth"
                                                          d="M39.5 66h-.2c-7.8 0-14.7-4.2-18.4-10.8-.3-.6-.1-1.4.4-1.8.6-.3 1.3-.7 1.6-.1 3.3 5.8 9.4 8.7 16.3 8.7h.1c7 0 13.2-2.9 16.6-8.8.3-.6 1.1-.5 1.6-.2.6.3.8 1.5.4 2.1C54.4 61.7 47.4 66 39.5 66z"></path>
                                                    <g>
                                                      <path class="eyebrows"
                                                            d="M9.8 30c-.7 0-1.2-.1-1.2-.7.1-2.8 2.3-5.1 5.5-6.1s6.3-.1 8.1 2.1c.4.5.3 1.3-.2 1.7-.5.4-1.3.3-1.7-.2-1.3-1.7-3.8-1.7-5.4-1.2-1.7.5-3.7 1.5-3.8 3.7-.1.7-.6.7-1.3.7z"></path>
                                                      <path class="eyebrows"
                                                            d="M69.1 30c-.6 0-1.2 0-1.2-.7-.1-2.2-2.1-3.4-3.8-3.9-1.7-.5-4.1-.4-5.4 1.3-.4.5-1.2.7-1.7.3-.5-.4-.6-1.1-.2-1.6 1.7-2.2 4.9-3 8.1-2 3.2 1 5.4 3 5.5 5.9-.1.6-.6.7-1.3.7z"></path>
                                                    </g>
                                                    <g>
                                                      <circle class="eyes" cx="62.1" cy="37.8" r="3.9"></circle>
                                                      <circle class="eyes" cx="17.9" cy="37.8" r="3.9"></circle>
                                                    </g>
                                                  </g>
                                                </svg>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="rating-choice">
                                        <input type="radio" name="rating-group-{{.Slug}}" value="extra-happy" id="rating-{{.Slug}}_4"
                                               aria-label="Love">
                                        <label for="rating-{{.Slug}}_4" class="emoji-extra-happy">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 80 80">
      <g>
        <g>
          <circle class="head" cx="40" cy="40" r="40"></circle>
        </g>
        <path class="head-outline" d="M40,1.6c21,0,38,17,38,38s-17,38-38,38s-38-17-38-38S19,1.6,40,1.6 M40-0.4
        c-22.1,0-40,17.9-40,40s17.9,40,40,40s40-17.9,40-40S62.1-0.4,40-0.4L40-0.4z"></path>
        <g>
          <path class="eyebrows"
                d="M10.4 30s-.1 0 0 0c-.7 0-1.2-.1-1.2-.7.1-2.8 2.3-5.1 5.5-6.1s6.3-.1 8.1 2.1c.4.5.3 1.3-.2 1.7-.5.4-1.3.3-1.7-.2-1.3-1.7-3.8-1.7-5.4-1.2-1.7.5-3.7 1.5-3.8 3.7-.2.7-.7.7-1.3.7z"></path>
          <path class="eyebrows"
                d="M69.6 30c-.6 0-1.2 0-1.2-.7-.1-2.2-2.1-3.4-3.8-3.9-1.7-.5-4.1-.4-5.4 1.3-.4.5-1.2.7-1.7.3-.5-.4-.6-1.1-.2-1.6 1.7-2.2 4.9-3 8.1-2 3.2 1 5.4 3 5.5 5.9 0 .6-.6.7-1.3.7.1 0 0 0 0 0z"></path>
        </g>
        <g class="big-mouth-group">
          <defs>
            <path id="big-mouth-inner" d="M22.9 51h33.3c0 17-16.6 17.3-16.6 17.3S22.9 68 22.9 51z"></path>
          </defs>
          <use xlink:href="#big-mouth-inner" overflow="visible" fill="#FFA67F" class="big-mouth-bg"></use>
          <clipPath>
            <use xlink:href="#big-mouth-inner" overflow="visible"></use>
          </clipPath>
          <path class="big-mouth" d="M22.9 51h33.3v3.6H23z"></path>
        </g>
        <g>
          <circle class="eyes" cx="62.1" cy="37.8" r="3.9"></circle>
          <circle class="eyes" cx="17.9" cy="37.8" r="3.9"></circle>
        </g>
      </g>
    </svg>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{end}}


                        <div class="control-group question textarea textarea-group textarea-group-1  " data-index="2"
                             id="textarea-4471" style="display: block;">
                            <legend class="block-title" id="block-title-textarea-4471">
                                <label tabindex="0" for="element-textarea-4471">Please leave your feedback below:</label>
                            </legend>
                            <textarea placeholder="Please fill in your answer" aria-labelledby="block-title-textarea-4471"
                                      id="element-textarea-4471"></textarea>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-next pull-right " type="submit"
                                    style="display: inline-block;">Send
                            </button>
                        </div>



                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
</body>
